html {
  width: 100vw;

  @font-face {
    font-family: 'inconsolata-dz';
    src: local('inconsolata-dz'), url('/fonts/ttf-inconsolata-dz.woff') format('woff');
  }

  code, kbd, pre, samp, tt, xmp, listing, plaintext {
    font-family: 'inconsolata-dz';
    font-size: 10pt;
  }

  body {
    font-family: 'Work Sans', sans-serif;
    color: #15151e;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    overflow-x: hidden;

    h1, h2, h3, h4 {
      font-family: 'Wire One', sans-serif;
      font-weight: 400;
      text-transform: lowercase;
    }

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2.5em;
    }

    h3 {
      font-size: 2em;
    }

    a {
      color: #2e1eaa;
      text-decoration: none;
    }

    a:hover {
      color: #2e1eaa !important;
      text-decoration: underline;
    }

    header {
      display: flex;
      align-items: center;

      h1 {
        display: inline-block;
        margin-right: auto;
      }

      ul.links {
        display: inline-block;
        margin-left: auto;
        text-align: right;
        list-style-type: none;

        li {
          display: inline;
          margin-right: 1em;
        }
      }
    }

    div#main {
      ol.posts {
        list-style-type: none;
      }

      ul.tags {
        list-style-type: none;

        li {
          display: inline;
          margin-right: 1em;
        }
      }

      ul.taglist {
        list-style-type: none;
      }

      ul.pager {
        list-style-type: none;

        li {
          display: inline;
          margin-right: 1em;
        }
      }

      div.align-center {
        text-align: center;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
      }

      .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #15151e;
      }

      .hljs-string {
        color: #607a55;
      }

      .hljs-variable,
      .hljs-template-variable,
      .hljs-symbol,
      .hljs-bullet,
      .hljs-section,
      .hljs-addition,
      .hljs-attribute,
      .hljs-link {
        color: #4e3243;
      }

      .hljs-comment,
      .hljs-quote,
      .hljs-meta,
      .hljs-deletion {
        color: #647575;
      }

      .hljs-keyword {
        color: #794d68;
      }

      .hljs-selector-tag,
      .hljs-section,
      .hljs-name,
      .hljs-type,
      .hljs-strong {
        font-weight: bold;
      }

      .hljs-emphasis {
        font-style: italic;
      }

      div#post-content {
        ul {
          li {
            margin: .4em;

            p {
              margin: 0;
            }
          }
        }

        table {
          margin: 0 1em;

          thead tr th {
            padding: 0 1.2em;
            font-family: 'inconsolata-dz';
            font-size: 10pt;
          }

          tbody tr td {
            padding: 0 0.4em;
          }
        }
      }
    }
  }
}
